<div id="resolveConflictView">
    <table class="table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Original</th>
                <th>Yours</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="(key, value) in Conflict.original">
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td>{{Conflict.requested[key]}}</td>
            </tr>
        </tbody>
    </table>
</div>