<div id="resolveConflictView">
    <table class="table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Original</th>
                <th>Yours</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="conflict in Conflicts" data-ng-class="{error:conflict.hasConflict}">
                <td>{{conflict.key}}</td>
                <td>{{conflict.original}}</td>
                <td>{{conflict.requested}}</td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn" data-ng-click="TakeOriginal()">Take server version</button></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>