<div id="scrumboard">
    <div class="alert" data-ng-show="Offline">You are working with cached data in offline mode.</div>
    <input type="text" placeholder="filter by story title" data-ng-model="storyFilter.Title"/>
    <table class="table table-bordered" data-ng-show="Stories">
        <thead>
            <tr>
                <th data-ng-repeat="state in States" data-ng-style="{ width: (100 / States.length) + '%'}">{{state.Name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="story in (Stories | filter: storyFilter)">
                <td data-ng-repeat="state in States" 
                    data-dropzone="UpdateStoryState"
                    data-dropzone-parameter="state">
                    <div class="story" 
                         data-ng-show="story.State == state.State"
                         data-ng-click="ShowStoryDetail(story.Id)"
                         data-drop-data="story"
                         draggable="true">
                        <h4>{{story.Title}}</h4>
                        <p>{{story.Description}}</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-info text-center" data-ng-hide="Stories">loading stories...</div>
</div>