.container {
    /*background-color: rgba(173, 216, 230, 0.2);*/
}

#scrumboard th {
    text-align: center;
}

#scrumboard td {
    border-width: 0 0 0 1px;
}

#scrumboard .story {
    border: 1px solid black;
    background-color: rgba(144, 238, 144, 0.51);
    padding: 10px;
    display: inline-table;
    cursor: pointer;
}

#scrumboard .story:hover {
    background-color: rgba(144, 238, 144, 1.0);
}