@{
    ViewBag.Title = "Scrumboard SPA";
}

<h1>Welcome to the SPA. Enjoy!</h1>
<div class="row" data-ng-app="appModule">
    <div class="span12" data-ng-view></div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/angularJs")
    @Scripts.Render("~/bundles/app")
}
